body,
html {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Light";
}
body {
  background: repeating-linear-gradient(
    -45deg, 
    white, 0px, white 10px, 
    rgba(129, 255, 129, 0.2) 10px, rgba(129, 255, 129, 0.2) 20px);
}
header {
  width: 100%;
  height: 450px;
  background: #10AC12 url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px 0 black;
  font-family: "Source Sans Bold";
}
.container {
  max-width: 1045px;
  margin: 0 auto;
}
.contacts-head-wrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.contacts-head {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100%;
}
.icon {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 35px;
  height: 50px;
}
.phone > p,
.mail > p {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  color: #F59C20;
  font-size: 1.2em;
  text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}
.mail > p {
  color: #000;
}
.icon-phone {
  background: url("../img/icons.png") no-repeat -35px 0;
}
.icon-mail {
  background: url("../img/icons.png") no-repeat 2px 0;
}
.mail {
  margin-right: 5px;
}

.main-headers {
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-top: 110px;
  text-shadow: 15px 0 20px rgba(0, 0, 0, 1),
               30px 0 30px rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Light";
}
.main-header h1 {
  font-size: 2.2em;
}
.main-header h2 {
  font-size: 1.7em;
}
.main-header h2 span {
  color: yellow;
}
.pip {
  position: absolute;
  right: 5%;
  top: 200px;
}
.pip p {
  font-family: "Source Sans Light";
  color: white;
  font-weight: bold;
}
.pip:before {
  position: absolute;
  top: -100px;
  left: -100px;
  display: block;
  content: '';
  width: 170px;
  height: 240px;
  background: url("../img/pip-arrow.png") no-repeat 0 0;
  background-size: contain;
}
.rounds {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 150px;
}
.round {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid rgba(67, 207, 89, 0.3);
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.round-2 {
  width: 140px;
  height: 140px;
  box-shadow: 0px 7px 7px 0 rgba(0, 0, 0, 0.7);
}
.rounds:after {
  position: absolute;
  display: block;
  content: '';
  width: 800px;
  height: 5px;
  background: white;
  z-index: 1;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.7);
}
.round > p {
  text-align: center;
  color: red;
  margin: 0;
  padding: 0;
}
.round-1 p:nth-child(1) {
  font-size: 1.6em;
  margin-top: 25px;
  margin-bottom: 7px;
}
.round-1 p:nth-child(2) {
  font-size: 0.9em;
}
.round-2 p {
  font-size: 2.5em;
}
.round-2 p:nth-child(1) {
  margin-top: 20px;
}
.round-3 p {
  font-size: 0.92em;
  margin-top: 32px;
}
.features > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  padding: 30px 0;
}
.features-item {
  position: relative;
  width: 220px;
  height: 200px;
  background-color: #708090;
  box-shadow: -5px 5px 10px 0 black;
  border-radius: 2px;
}
.features-item:nth-child(odd) {
  background-color: #F59C20;
}
.features-item .icon {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-left: 30px;
}
.features-item p {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
}
.features-item .icon-1 {
  background: url("../img/icon-1.png") no-repeat 0 0;
  background-size: contain;
  margin-top: -20px;
}
.features-item .icon-2 {
  background: url("../img/icon-2.png") no-repeat 0 0;
  background-size: contain;
  margin-top: -20px;
}
.features-item .icon-3 {
  background: url("../img/icon-3.png") no-repeat 0 0;
  background-size: contain;
  margin-top: -20px;
}
.features-item:nth-child(3) p {
  margin-top: -3px;
}
.features-item .icon-4 {
  background: url("../img/icon-4.png") no-repeat 0 0;
  background-size: contain;
  margin-top: -17px;
}
.features-item:nth-child(4) p {
  margin-top: -5px;
  letter-spacing: 0.1px;
}
.promo-text {
  font-size: 1.5em;
}
.promo-headers {
  text-align: center;
  margin-bottom: 50px;
}
.promo-headers .h3 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}
.promo-headers .h4 {
  margin-top: 0;
  font-size: 0.7em;
}
.promo-ul-header {
  text-align: center;
  font-size: 1.5em;
}
.promo-ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-ul-item {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.carousel {
  margin-top: 100px;
  width: 100%;
}
.slide {
  margin: 10px;
  box-shadow: 2px 2px 5px 1px black;
}
.descr {
  margin-top: 100px;
  font-size: 2em;
}
.descr .lighter {
  background-color: #F59C20;
  padding-top: 20px;
  padding-bottom: 20px;
}
.descr .darker {
  background-color: #708090;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.scheme-image {
  width: 100%;
}
.scheme figcaption {
  text-align: center;
}
.scheme .container {
  position: relative;
  margin-top: 50px;
  min-height: 500px;
}
.scheme .container:after {
  content: "";
  display: table;
  clear: both;
}
.scheme .item {
  position: absolute;
  border: 2px solid black;
  cursor: pointer;
  transition-duration: .5s;
}
.scheme .item:hover {
  transform: scale(1.02);
  z-index: 2;
}
.scheme .item p {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 1.5em;
}
.scheme .item p.photo-link {
  top: 40px;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
.scheme .hall {
  top: 105px;
  left: 0;
  width: 220px;
  height: 410px;
  background-color: #EFAC65;
}
.scheme .balcony {
  top: 30px;
  left: 0;
  width: 420px;
  height: 75px;
  background-color: #95F9D7;
}
.scheme .hallway {
  top: 345px;
  left: 220px;
  width: 200px;
  height: 170px;
  background-color: #0C8F5F;
}
.scheme .kitchen {
  top: 107px;
  left: 220px;
  width: 200px;
  height: 238px;
  background-color: #E3E139;
}
.scheme .bedroom {
  top: 0;
  left: 422px;
  width: 235px;
  height: 215px;
  background-color: #F9DDFC;
}
.scheme .corridor {
  top: 215px;
  left: 422px;
  width: 130px;
  height: 190px;
  background-color: #B2FDFC;
}
.scheme .bathroom {
  top: 215px;
  left: 552px;
  width: 105px;
  height: 125px;
  background-color: #0DDEF1;
}
.scheme .wc {
  top: 340px;
  left: 552px;
  width: 105px;
  height: 65px;
  background-color: #4175EA;
}
.scheme .door {
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 3px solid #8AA508;
  border-right: 3px solid #8AA508;
  z-index: 3;
  overflow: hidden;
}
.scheme .door:before {
  display: block;
  position: absolute;
  content: '';
  top: -55px;
  width: 100px;
  height: 101px;
  border: 1px solid red;
  border-radius: 50%;
}
.scheme .hall .door-to-balcony {
  right: 20px;
  top: 0;
}
.scheme .hall .door-entrance {
  bottom: 80px;
  right: 0;
  transform: rotate(90deg);
}
.scheme .hallway .door-main {
  bottom: 30px;
  right: -53px;
  transform: rotate(-90deg);
}
.scheme .kitchen .door {
  bottom: -2px;
  left: 10px;
  transform: rotate(180deg);
}
.scheme .wc .door {
  transform: rotate(90deg);
  bottom: 5px;
  left: -53px;
}
.scheme .bathroom .door {
  transform: rotate(0deg);
  top: 5px;
  left: -53px;
}
.scheme .bedroom .door {
  bottom: 0;
  left: 10px;
  transform: rotate(180deg);
}
.scheme .window {
  position: absolute;
  width: 100px;
  height: 10px;
  border: 1px solid #8AA508;
  background-color: #00F6FF;
  z-index: 3;
}
.scheme .hall .window {
  right: 73px;
  top: -6px;
}
.scheme .balcony .window {
  left: 10px;
  top: -7px;
  width: 385px;
}
.scheme .kitchen .window {
  left: 20px;
  top: -7px;
  width: 160px;
}
.scheme .bedroom .window {
  left: 50px;
  top: -7px;
  width: 130px;
}
.scheme .legend {
  position: absolute;
  left: 800px;
}
.scheme .legend .window {
  left: 0;
  top: 50px;
}
.scheme .legend .window:before,
.scheme .legend .window:after {
  position: absolute;
  top: 4px;
  left: -30px;
  display: block;
  content: '';
  width: 30px;
  height: 2px;
  background-color: #000;
} 
.scheme .legend .window:after {
  left: 100px;
}
.scheme .legend .door {
  left: 0;
  top: 100px;
}
.scheme .legend .door ~ p {
  position: absolute;
  top: 140px;
}
.main-footer {
  position: relative;
  width: 100%;
  background-color: #F59C20;
  padding-top: 200px;
  margin-top: 200px;
}
.main-footer:before {
  position: absolute;
  display: block;
  content: '';
  width: 500px;
  height: 355px;
  background: url("../img/boxes.png") no-repeat 0 0;
  top: -170px;
  left: 50%;
  margin-left: -250px;
  margin-bottom: 0;
}
.main-footer .text {
  padding-top: 30px;
  text-align: center;
  background-color: #708090;
}
.main-footer .text p {
  color: white;
  font-size: 2em;
}
.main-footer .text p:last-child {
  padding-bottom: 50px;
  margin-bottom: 0;
}


#modal_form {
  width: 300px; 
  height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%; /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
/* Пoдлoжкa */
#overlay {
  z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%; 
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;
  cursor:pointer;
  display:none; /* в oбычнoм сoстoянии её нет) */
}