@font-face {
    font-family: "Source Sans Bold"; /* Гарнитура шрифта */
    src: url(../fonts/SourceSansProBold.ttf); /* Путь к файлу со шрифтом */
   }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
